<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.ioblok.buddystars">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.SelectActivity"
            android:label="@string/title_activity_homeactivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".home.LoginActivity" />

        <activity
            android:name=".home.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity
            android:name=".home.ActivityAddDataBase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.ActivityRegister"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".home.ActivityPortability"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity
            android:name=".home.ListUsers"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity android:name=".news.FBLoginActivity"/>
        <activity android:name=".news.BlogActivity"/>
        <activity android:name=".home.activities.DiaryActivity"/>
        <activity android:name=".home.activities.RegisterActivity"/>
        <activity android:name=".home.activities.PortabilityActivity"/>

        <activity android:name=".home.activities.RegisterSimActivity"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>
